h3{
    text-align: center;
    color: #FFEBBF;
    padding-top: 20px;
    margin: 0px 70px 100px 70px;
    font-family: 'Rubik', sans-serif;
    transition: 0.5s;
}

h3:hover {
    transform: translateY(3px);
    border-bottom: 1px solid #FFEBBF;
}

h4{
    color: #FFEBBF;
    padding-left: 30px;
    margin-bottom: 8px;
    font-family: 'Rubik', sans-serif;
}

.link {
    text-decoration: none;
}

.link h2{
    color: #1C245C;
    text-decoration: none;
    transition: 0.5s;
}

.link h2:hover {
    transform: translatey(-8px);
}

.panneau {
    background-color: #1C245C;
    width: 15%;
    height: 100vh;
  }

.menuPanel {
    margin-bottom: 100px;
}

.menuPanel p {
    padding-left: 45px;
    color: #DADDF5;
}

.gestion {
    background-color: #DADDF5;
    position: absolute;
    top: 0;
    left: 15%;
    width: 85%;
    height: 100vh;
    text-align: center;
}

.top {
    margin-top: 120px;
}

.topArticle {
    padding: 40px 65vh 0px 65vh;
}