p {
    padding: 10px 0px 10px 20px;
    text-align: left;
}

.inscription button {
    background-color: #DADDF5;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-family: 'Martel', serif;
    font-size: 16px;
    margin: 50px 10px 0px 10px;
    transition: 0.3s;
}

.inscription button:hover {
    background-color: #1C245C;
    color: #FFEBBF;
}

.inscription .champs div {
    padding: 10px 0px 10px 0px;
}

.inscription .champs input {
    height: 20px;
    border: none;
    border-radius: 5px;
}

.inscription .champs input:focus {
    outline: none;
}

.inscription .champs input:focus + span, 
.inscription .champs input:valid + span {
    transform: translateY(-20px) translateX(-5px);
}

.inscription .champs .verif{
    background-color: #1C245C;
    margin-left: 90vh;
    margin-right: 90vh;
    border-radius: 10px;
    margin-top: 30px;
    color: #FFEBBF;
}

.inscription .champs span {
    position: absolute;
    user-select: none;
    text-align: center;
    left: 93vh;
    transition: 0.2s;
}