.bandeauArticle {
    background-color: #1C245C;
    height: 15vh;
  }

.contenuArticle {
    background-color: #DADDF5;
    height: 85vh;
}

.contenuArticle button {
    text-align: left;
    margin: 20px 0px 0px 50px;
}

.contenuArticle h2 {
    text-align: center;
    padding: 30px 0px 20px 0px;
}

.contenuArticle p {
    padding: 10px 65vh 0px 65vh;
    text-align: left;
}